.list--header{
    display: flex;
    margin: 2rem 0;
    justify-content: space-between;
}

.list--header h2{
    color: #526d82;
}

.list--header select{
    border: none;
    border-radius: 10px;
    padding: 8px 12px;
    border: 1px solid #dde6ed;
    color: #526d82;
}

.list--container{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.list{
    display: flex;
    padding-right: 10px;
    align-items: center;
    justify-content: space-between;
    transition: 0.3s ease-in-out;
}

/* Scrollbar */
.list--container{
    height: 250px; /* Set the desired height */
    overflow-y: auto; /* Enable vertical scrollbar */
    scrollbar-width: thin; /* Adjust according to your preference */
}

.list--container::-webkit-scrollbar {
    width: 10px; /* Adjust according to your preference */
  }
  
  .list--container::-webkit-scrollbar-thumb {
    background-color: #460101; /* Scrollbar thumb color */
  }
  
  .list--container::-webkit-scrollbar-thumb:hover {
    background-color: #d60f0f; /* Scrollbar thumb color on hover */
  }